.nav {
    box-shadow: 0 2px 4px 0 rgb(125, 78, 36);
    min-height: 10px;
}

.nav-link  {
    color: rgb(255, 255, 255);
    }
.nav-link:hover{
    color: rgb(246,160,28)
}

span {
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 90px;
    color: rgb(0, 0, 0)
  }

  #logodamor{
    position: relative;
      top: 50px; /* adjust the values ​​to move the image */
      left: 15px;
      width: 150px;
      height: 150px;
      margin: 1%;
      display: block;
      position:  fixed;
      z-index: 3;
    }